#E
instr_.*
data_.*
irq_.*
fetch_enable_i.*
alert_.*
core_sleep_o
double_fault_seen_o
debug_req_i
clk_i
rst_ni
test_en_i
scan_rst_ni

#N
boot_addr_i.*
hart_id_i.*
crash_dump_o.*

#S
scramble_.*
ram_cfg_.*
